body {
    background: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 12px;
    padding-bottom: 60px;
    padding-top: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: min-content;
}

h2 {
    margin: 10px;
    font-size: 40px;
}

.footer {
    margin: auto;
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
    position: relative;
    bottom: 0 !important;
    z-index: 100;
    background: gainsboro;
    text-align: center;
    left: 0;
    right: 0;
}

.nav-colour {
    background-color: rgb(112, 182, 130, 0.95);
}

.link {
    color: white;
}

.description {
    background-color: rgb(112, 182, 130, 0.8);
    color: white;
    border-radius: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: min-content;
    text-align: center;
}

.logged-user {
    color: white;
    text-decoration: underline;
}

.navbar-nav {
    margin: auto;
    padding-top: 0;
    text-align: center;
}

.full {
    padding: 0;
    margin: 0;
    border-bottom: 0;
    bottom: 0;
    min-height: 100%;
}

.page {
    padding: 0;
    margin: 0;
    border-bottom: 0;
    bottom: 0;
    min-height: 100%;
}

.nav-link {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 2px;
    height: 62px;
}

.nav-text {
    margin-top: 0;
    color: white;
}

.hidden-nav {
    height: 62px;
}

.nav-bar {
    min-height: 10vh;
}

.wrapper {
    min-height: calc(100vh - 180px); 
}

#samples {
    background: #f5f5f5;
}

#testView {
    background: #f5f5f5;
}

.game-margin {
    margin: 10px 0 10px 0;
}

.small-margin-float-right {
    margin: 2px;
    float: right;
}

.modal-image {
    position: fixed;
    padding: 0 !important;
    margin: 0;
    border: 0;
    top: 10px;
}

.modal-image-preview {
    max-width: 5em;
}

.modal-image-large {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0;
    height: auto;
    display: block;
}

.modal-image-container {
    align-items: center;
    padding: 0;
    max-width: max-content;
    height: auto;
    display: "block";
}

.small-margin {
    margin: 2px;
}

.required-field::after {
    content: " *";
    color: red;
  }

